cat > config/bootloaders/isolinux/isolinux.cfg << EOF
DEFAULT live
LABEL live
    MENU LABEL Boot $DIST_NAME $DIST_VERSION (Live)
    KERNEL /live/vmlinuz
    APPEND initrd=/live/initrd.img boot=live components locales=$LOCALE
TIMEOUT 50
PROMPT 0
EOF